<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeatherAPI</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://kit.fontawesome.com/1c7ae4b560.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <form action="/weather" method="POST" class="answear">
            <header>
                <h3>
                    <%=city%>
                </h3>
            </header>
            <p>
                <%=description%>
            </p>
            <img src=<%=icon%> alt="weather icon">
            <button type="submit">back </button>
        </form>
    </div>
</body>

</html>